div(class="head-nav")
    div(class="content-nav")
        div(class="content-buttons")
            div 
               a(href="menue.html" target="_self") home
            div 
               a(href="play.html" target="_self") play
            div
               a(href="frinds.html" target="_self") frinds   





            
