<!DOCTYPE html>
html
  head
    title home
    meta(charset="UTF-8")
    meta(name="keywords" content="ahmed,foad,elking")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="style/all.css")
  body   
    div(class="head head-menue")
      div(class="content")  
        div(class="flex-type")
          div(class="left-fiveos")
            
            div(class="card-play")
               
              div(class="target-card")
              div(class="imgplay")
                video(src="vid/1.mkv") 
              div(class="content-play")
                p فيديو جديد لتعليم الجافا سكربت الان بث مباشر
            div(class="card-play")
               
              div(class="target-card")
              div(class="imgplay")
                video(src="vid/3.mkv") 
              div(class="content-play")
                p فيديو جديد لتعليم الجافا سكربت الان بث مباشر
          div(class="right-vidios")
            div(class="myplay-vido")
              video(src="vid/1.mkv" controls)        
    div(class="ublode-windo")
      div(class="ublode")
        div(class="loade")        
            


    


      
    
    






    script(src="js/home_script.js")    
 
    