<!DOCTYPE html>
html
  head
    title myplay
    meta(charset="UTF-8")
    meta(name="keywords" content="ahmed,foad,elking")
    link(rel="stylesheet" href="style/all.css")
  body   
    h1 mytest   
    include compawnds/navpar


      