<!DOCTYPE html>
html
  head
    title play
    meta(charset="UTF-8")
    meta(name="keywords" content="ahmed,foad,elking")
    link(rel="stylesheet" href="style/all.css")
  body  
    include compawnds/navpar 
    div(class="flex-page")
      include compawnds/left_nav
      div(class="contnet-page")
          p play
      include compawnds/rightnav
    script(src="js/main.js")    
 
    